#evaluation-bar {
    width: 40px;
    text-align: center;
}

#eval {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#evaluation-bar-holder {
    position: relative;
    grid-area: e;
    height: 512px;
    width: 40px;
    margin: 20px;
    max-height: 80vh;
    text-align: center;
    z-index: -1;
}