#infobox {
    height: 512px;
    width: 52vw;
    background-color: antiquewhite;
    margin: 20px;
    right: 0px;
    flex: 1 0 300px;
    min-width: 300px;
    position: relative;
}

#position{
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: seagreen 5px solid;
    height: 3.2rem;
}

#book-image {
    width: 3rem;
    float: left;
}

#opening {
    float: left;
}

#commentary {
    padding: 2rem;
    margin-right: 15vh;
}

#commentary-background-image{
    width: 10rem;
    opacity: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gears {
    width: 40px;
}

.annotated-move {
    cursor: pointer;
    font-size: 20px;
    background-color: seagreen;
    border: 4px seagreen solid;
    border-radius: 40px;
    margin: 3px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

button.annotated-move.normal:hover {
    background-color: rgb(45, 110, 73);
    border-color: rgb(8, 112, 53);
}

.annotated-move.bad {
    background-color: #FF636E;
    border-color: #FF636E;
}

.annotated-move.bad:hover {
    background-color: #ec545e;
    border-color: #ec545e;
}

.annotated-move.forced {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.annotated-move.forced:hover {
    background-color: rgb(69, 120, 216);
    border-color: rgb(69, 120, 216);
}

#continuations {
    position: absolute;
    bottom: 10px;
    margin: 10px;
}

#continuations-title {
    width: 200px;
    position: absolute;
    bottom: 50px;
    font-style: italic;
}

button#undo-button {
    cursor: pointer;
    height: 40px;
    width: 60px;
    font-size: 1.2rem;
    background-color: #FF636E;
    border: none;
    position: absolute;
    bottom: 120px;
}

button#undo-button:hover {
    background-color: #ec545e;
}

@media only screen and (max-width: 900px) {
    #infobox {
        height: 38vw;
        width: 80vw;
        background-color: antiquewhite;
        margin: 20px;
        right: 0px;
        flex: 1 0 300px;
        min-width: 300px;
        min-height: 500px;
    }  

    #commentary-background-image{
        top: 60%;
    }
    
    #chessboard {
        width: 100vw;
        margin-bottom: 3rem;
    }

    .cg-wrap {
        width: 75vw;
        height: 75vw;
    }

    
    #evaluation-bar-holder {
        height: 75vw;
        min-height: 320px;
    }
}