#header {
    width: 100vw;
    height: 4rem;
    background-color: seagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-image {
    filter: drop-shadow(1px 1px 3px yellow);
    width: 1rem;
}

#logo{
    font-size: 1.4rem;
    color: seashell;
    display: flex;    
}

#logo-area {
    margin: 10px;;
}

span#battery {
    font-weight: 700;
}