.cg-wrap {
  grid-area: b;
  margin: 0px;
  top: 20px;
  min-width: 320px;
  min-height: 320px;
}

#dashboard {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
}

#chessboard {
  display: grid;
  grid-template-areas: 
    "e b b b"
    "e b b b"
    "e b b b"
    ". c c c";
  grid-template-columns: .8fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 1fr;
}