#evaluation-bar {
    text-align: center;
    float:left;
    width: 40px;
    background-color: rgb(10, 10, 10, .7);
    margin-bottom: 20px; 
    max-height: 80vh;
    transition: 'height 2s';
    margin-bottom: 20px;
}

#eval {
    font-size: 10px;
    color: white;
}